// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors

$dark-grey: #555555; /* Was #222, but changed to follow Marketing style guid */
$medium-grey: #666;
$light-grey: #ccc;
$header-color: #236474;

$link-color: #4A4A4A;
$link-hover-color: #111;