// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors

$dark-grey: #555555; /* Was #222, but changed to follow Marketing style guid */
$medium-grey: #666;
$light-grey: #ccc;
$dnanexus-dark-purple: #656CAF; /* Also from marketing style guide */
$header-color: #236474;

$link-color: #4A4A4A; /* #555555 is our official color, choosing this instead */
$link-hover-color: #9970D8; /* was #111, I like this purple */
